[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"
requests = "*"
moto = "==1.3.16"
ipython = "*"
mypy_boto3_dynamodb = "*"
pytest-mock = "*"
aws_secretsmanager_caching = "*"

[packages]
metaflow = "*"
graphene = "*"
graphene-federation = "*"
starlette = "*"
elasticsearch = "==7.1.0"
elasticsearch-dsl = "==7.1.0"
boto3 = "==1.16.15"
# We define the essential stubs
boto3-stubs = {extras = ["essential"], version = "==1.16.15.0"}
sentry-sdk = "*"
graphene-pydantic = "==0.1.0"
# we need to install gunicorn, uvicorn, uvloop, httptools, and fastapi
# so it starts in the virtualenv instead of the one in the docker image
gunicorn = "*"
uvicorn = "*"
fastapi = "*"
uvloop = "*"
httptools = "*"
gql = "*"
aws-xray-sdk = "*"
xraysink = "*"

[requires]
python_version = "3.8"
