# TODO: Separate dependencies for the server, lambda, and jobs. Separate pipenv files in /jobs, /aws_lambda? Or separate repos?

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"
requests = "*"
mypy_boto3_dynamodb = "*"
pytest-mock = "*"
aws_secretsmanager_caching = "*"
# We define the essential stubs
boto3-stubs = {extras = ["essential"], version = "==1.16.15.0"}

[packages]
graphene = "*"
graphene-federation = "*"
starlette = "*"
sentry-sdk = "*"
graphene-pydantic = "==0.1.0"
aioboto3 = "*"
# we need to install gunicorn, uvicorn, uvloop, httptools, and fastapi
# so it starts in the virtualenv instead of the one in the docker image
gunicorn = "*"
uvicorn = "*"
fastapi = "*"
uvloop = "*"
httptools = "*"
gql = "*"
xraysink = "*"
aws-xray-sdk = "*"

[requires]
python_version = "3.8.5"
