[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
metaflow = "*"
boto3 = "==1.16.6"
aws_secretsmanager_caching = "*"
sentry-sdk = "*"

[requires]
python_version = "3.8"

[dev-packages]
moto = "==1.3.16"
mypy-boto3-dynamodb = "*"
pytest-mock = "*"
pytest = "*"
boto3-stubs = {extras = ["essential"], version = "==1.16.15.0"}
