[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
metaflow = "*"
boto3 = "==1.16.6"
aws_secretsmanager_caching = "*"
sentry-sdk = "*"

[requires]
python_version = "3.8"
