[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"
requests = "*"
ipython = "*"
pytest-mock = "*"

[packages]
metaflow = "*"
elasticsearch = "==7.10.0"
elasticsearch-dsl = "==7.3.0"
sentry-sdk = "*"
graphene-pydantic = "==0.1.0"
gql = "*"

[requires]
# we have to lock at a dot release because packages in conda are not updated immediately
# (this resulted in an error as our pipenv went to 3.8.7 but conda had not yet received this version)
python_version = "3.8"
